body {
    margin: 0;
}

.page {
    background-image: url("../images/bg.png");
}

#port {
    padding-right: 80%;
    margin-left: 10px;
    color: #4aaaa5;
    background: #ffffff;
    font-size: larger;
    border-bottom: 2px solid #666666;
}

.wrapper {
    width: 500px;
    margin: auto;
    text-align: center;
}

#us {
    text-align: justify;
    color: #4aaaa5
}

#content p {
    text-align: justify;
}

#header {
    background-color: #ffffff;
    height: 60px;
    clear: both;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
    border: solid #cccccc;
    position: relative;
}

li {
    list-style-type: none;
    border-right: 1px solid #bbb;
    margin-bottom: 20px;
    margin-right: auto;
    padding: 4px;
    text-align: center;
}

li:first-child {
    border-right: none;
}

a:link {
    text-decoration: none;
    color: #777777
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

ul {
    padding-left: 0;
    margin-left: 0
}

#Ahmed {
    background: #4aaaa5;
    padding-top: auto;
    padding-bottom: 10px;
    font-size: larger;
    color: #ffffff;
    margin-bottom: 0px;
    padding-left: 0;
    margin-left: 0
}

.one {
    position: relative;
    display: inline-block
}

.text {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #4aaaa5;
    color: white;
    margin: 0;
    text-align: center
}

.img1 {
    display: flex;
    position: relative;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: 100%;
}

body {
    background-color: black;
    margin: 0;
}

.container {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    display: block;
    height: 100%
}

#footer {
    clear: both;
    bottom: 2px;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: solid #4aaaa5
}